.cache/
.gradle/
.gradle-workspace/
build/
.idea/
.vscode/
out/
*.log
*.jar
!gradle/wrapper/gradle-wrapper.jar
run/
saves/
world/
crash-reports/
logs/
archive/ftb-legacy/overrides/config/ftbquests/quests/progress/
